*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;

    
}
body{
    background-image: url(./AcalmOasis.png);
    background-size: cover;
}
.header{
    display: flex;
    margin-top: 20px;
    padding: 20px;
    margin: 10px 10px;
}

.name{
    padding-top: 10px;
    color:aqua;
    font-size: 30px;
}

.list{
    position: absolute; 
    display: flex;
    color: black;
    font-weight: 400;
    text-align: center;
    margin-left: 600px;
    font-size: 20;

}

.items{
    padding: 10px;
    list-style: none;
}

.container{
    padding-top: 250px;
    grid-template-columns: 450px 450px;
    margin-left: 50px;
    max-height: 2000px; 
    max-width: 2000px;  
    font-size: 30px;    
}

.content{
    padding: 30px;
    color: silver;
}

.btn{
    background-color: skyblue;
    padding: 15px;
    border-radius: 10px;
    width: 8rem;
    color: white;
    margin-left: 200px;
}

.maim{
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 109vh;
}
